<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>RKK Adminkey администрирование заявки РКК 2.0</title>
  <link rel="stylesheet" href="/public/css/bootstrap.css">
  <script src="/public/jquery.js"></script>
  <script src="/public/bootstrap.min.js"></script>

     <style type="text/css">
  .longtext {

      word-wrap: break-word;
      width: 900px;

    }

        body {
    
    background: #2F4F4F;
    color: #BC8F8F; 

    }

           .headlabel {

      text-align: center;
      font-family: "Times New Roman", Georgia, Serif;
      font-stretch: extra-expanded;
      font-size: 20px;
      color: #008080;
    }

    #bshowjdiv:hover
    {
      background-color: #c0d7d7;
      cursor: pointer;
    }
    .table-block-div
    {
      text-align: center;
    }
    .table-block-div:hover
    {
      background-color: #c0d7d7;
      cursor: pointer;
    }
     h2
    {
      text-align: center;
    }



  </style>
 </head>
 <body> 

<div class="headlabel">

<h1>RKK Adminkey</h1>

</div>


<p></p> 

  <table class="table table-dark" id = "#tapp">
  <h2>Основные данные по заявке <%= appnum%></h2>
   <tr>
      <th><font color="#FFDAB9">ID Заявки</font></th>
    <th><font color="#FFDAB9">Направление</font></th>
    <th><font color="#FFDAB9">Программа</font></th>
    <th><font color="#FFDAB9">Канал поступления</font></th>
    <th><font color="#FFDAB9">Канал выдачи</font></th>
    <th><font color="#FFDAB9">Код ДО</font></th>
    <th><font color="#FFDAB9">Статус</font></th>
    <th><font color="#FFDAB9">Дата создания заявки</font></th>
    <th><font color="#FFDAB9">Дата перехода в статус</font></th>
    <th><font color="#FFDAB9">Assignee</font></th>
    <th><font color="#FFDAB9">ID задачи BPM</font></th>
    <th><font color="#FFDAB9">Метод</font></th>
   </tr>
   <% obj2.forEach(function(el, i, arr) { %>
   <tr>
 <td><%= obj2[i].application_id%></td>
 <td><font color="#AFEEEE"><%= obj2[i].credit_type_name%></font></td>
 <td><%= obj2[i].program_name%></td>
 <td><%= obj2[i].sale_channel_name%></td>
 <td><%= obj2[i].issue_channel%></td>
 <td><%= obj2[i].branch_unit_name%></td>
 <td><font color="#D2691E"><%= obj2[i].appstatus_name%></font></td>
 <!--
 <% var create_date = obj2[i].creation_date.toString(); var strdate = create_date.replace('T', ' ').replace('Z', '') %>
 <% var datetime = strdate; var tmp = datetime.split(' ');   %> 
 <% var date = tmp[0].split['-']; var time = tmp[1].split[':']; var mil = tmp[1].split['.'];%> 
 <% var cd = obj2[i].date_status.toString(); var cdparsed = cd.replace('T', ' ').replace('Z', '') %>
  <td><%= strdate%></td>
 <th><%= cdparsed%></th>
-->
 <td><%= obj2[i].creation_date%></td>
 <th><%= obj2[i].date_status%></th>
 <th><%= obj2[i].assignee%></th>
 <td><%= obj2[i].execution_id%></td>
 <td><%= obj2[i].method%></td>
  </tr>
  <% }); %>
</table>

  <p></p>
  <a class="btn btn-info" href="https://ui-test.test-stand.tst.int.***.ru/credit-request/<%=appnum%>/application/personal-data?mode=info" role="button" target="_blank">View Mode</a>
  <a class="btn btn-primary" href="<%= linkCam %>" role="button" target="_blank">Перейти в Camunda</a>
  <a class="btn btn-primary" href="https://ui-test.test-stand.tst.int.***.ru/lien/<%= appnum %>/estate-data " role="button" target="_blank">Данные ОН</a>
  <a class="btn btn-primary" href="https://ui-test.test-stand.tst.int.***.ru/history-real-estate/<%= appnum %>" role="button" target="_blank">История ОН</a>
  <button class="btn btn-primary" id="#retry" type="submit" disabled="true" style="display: none">Retrytask</button>
  <a class="btn btn-primary" href="<%= link %>" role="button" target="_blank">Перейти в сканы</a>
  <a class="btn btn-primary" href="<%= link2 %>" role="button" target="_blank">Обработка ошибки в РКК</a>
  <a class="btn btn-primary" href="https://ui.test-stand.tst.int.***.ru/sling/info/<%= appnum %>" role="button" target="_blank">Список файлов</a>
  <a class="btn btn-primary" href="https://ui.test-stand.tst.int.***.ru/sling/filelist/<%= obj2[0].application_id %>" role="button" target="_blank">Метаданные файлов</a> 
  <p></p>



    <p></p>
   <table class="table table-striped table-dark" id = "#t3">
  <h2>Параметры заявки</h2>
   <tr>
    <th><font color="#FFDAB9">Тип параметров</font></th>
    <th><font color="#FFDAB9">Версия субпрограммы</font></th>
    <th><font color="#FFDAB9">Сумма кредита</font></th>
    <th><font color="#FFDAB9">Ежемесячный платеж</font></th>
    <th><font color="#FFDAB9">Срок кредита</font></th>
    <th><font color="#FFDAB9">Стоимость ОН</font></th>
    <th><font color="#FFDAB9">Первоначальный взнос</font></th>
    <th><font color="#FFDAB9">Вид рынка</font></th>
    <th><font color="#FFDAB9">Ставка</font></th>
    <th><font color="#FFDAB9">Тип платежа</font></th>
    <th><font color="#FFDAB9">Тип страхования</font></th>
    <th><font color="#FFDAB9">Дата подписания</font></th>
    <th><font color="#FFDAB9">Тип формы</font></th>
    <th><font color="#FFDAB9">Цель</font></th>
    <th><font color="#FFDAB9">№ дов.подписанта</font></th>
    <th><font color="#FFDAB9">Дата дов.подписанта</font></th>
   </tr>
   <% params.forEach(function(el, i, arr) { %>
   <tr>
  <% if (params[i].case_partype !== 'Выданные') { %> 
 <td><%= params[i].case_partype%></td>
 <% }  else { %>
 <td><font color="#D2691E"><%= params[i].case_partype%></font></td>
 <% }; %>
 <td><%= params[i].sub_program_version%></td>
 <td><%= params[i].credit_amount%></td>
 <td><%= params[i].monthly_payment%></td>
 <td><%= params[i].credit_term%></td>
 <td><%= params[i].real_estate_cost%></td>
 <td><%= params[i].initial_fee%></td>
 <td><%= params[i].case_market%></td>
 <td><%= params[i].interest_rate%></td>
 <td><%= params[i].case_payment%></td>
 <td><%= params[i].case_ins%></td>
 <td><%= params[i].date_sign%></td> 
 <td><%= params[i].signer_fio%></td>
 <td><%= params[i].case_target%></td>
 <td><%= params[i].signer_power_of_attorney_num%></td>
 <td><%= params[i].signer_power_of_attorney_date%></td>
  </tr>
  <% }); %>

  <% if (akk.length !== 0) { %>
   <p></p>

  </table>
  <p></p>
   <table class="table table-dark" id = "#tacc">
  <h2>Счета по заявке</h2>
   <tr>

    <th><font color="#FFDAB9">Номер счета</font></th>
    <th><font color="#FFDAB9">Номер карты</font></th>
    <th><font color="#FFDAB9">Счет выбран?</font></th>
    <th><font color="#FFDAB9">Зачисление</font></th>
    <th><font color="#FFDAB9">Списание</font></th>
    <th><font color="#FFDAB9">Дата открытия счета</font></th>
    <th><font color="#FFDAB9">Баланс</font></th>
    <th><font color="#FFDAB9">Счет новый?</font></th>
    <th><font color="#FFDAB9">ДКО</font></th>
   </tr>
   <% akk.forEach(function(el, i, arr) { %>
   <tr>
 <td><%= akk[i].acc_number %></td>
 <td><%= akk[i].card_number %></td>
  <% if (akk[i].selected !== true) { %> 
 <td><%= akk[i].selected %></td>
 <% }  else { %>
 <td><font color="#008000"><%= akk[i].selected %></font></td>
 <% }; %>
 <td><%= akk[i].enrollment %></td>
 <td><%= akk[i].withdrawal %></td>
 <td><%= akk[i].acc_open_date %></td>
 <td><%= akk[i].balance %></td>
 <td><%= akk[i].new_account %></td>
 <td><%= akk[i].dko %></td>
  </tr>
  <% }); %>
  <% }; %>

    <% if (participant.length !== 0) { %>
   <p></p>

  </table>
  <p></p>
   <table class="table table-dark" id = "#tacc">
  <h2>Участники сделки</h2>
   <tr>

    <th><font color="#FFDAB9">Participant_form_id</font></th>
    <th><font color="#FFDAB9">Participant_id</font></th>
    <th><font color="#FFDAB9">Роль</font></th>
    <th><font color="#FFDAB9">Тип продавца</font></th>
    <th><font color="#FFDAB9">Удален?</font></th>
   </tr>
   <% participant.forEach(function(el, i, arr) { %>
   <tr>
 <td><%= participant[i].participant_form_id %></td>
 <td><%= participant[i].id %></td>
 <td><%= participant[i].case_role %></td>
  <td><%= participant[i].case_seller %></td>
  <% if (participant[i].is_deleted == true) { %> 
 <td><font color="#8A0829"><%= participant[i].is_deleted %></font></td>
 <% }  else { %>
 <td><font color="#008000"><%= participant[i].is_deleted %></font></td>
 <% }; %>
  </tr>
  <% }); %>
  <% }; %>
</table>




 <!--<a class="btn btn-primary btn-lg btn-block" type="submit" id="#bhidej" onclick="hidejournal()" style="display: none">&darr; Скрыть таблицу</a>-->
  <div class="table-block-div"><a id="#bshowj" onclick="hidejournal()" style="display: block"><font size="6">&rarr; Расширенный журнал статусов по заявке</font></a></div>
  <!--<h2>Расширенный журнал статусов по заявке <%= appnum%><font size="24">&darr;</font></h2>-->
  <table class="table table-striped table-dark" id = "#tjournal" style="display: none">
  
   <tr>
    <th scope="col" class="colp"><font color="#FFDAB9">Дата, время перехода в статус</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">Имя статуса</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">Решение СПР</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">ФИО и логин сотрудника</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">Роль сотрудника</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">Этап и статус андеррайтинга</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">Дата, время закрытия статуса</font></th>
   </tr>

   <% stat.forEach(function(el, i, arr) { %>
 
 <tr>
 <td><%= stat[i].start_date %></td>
 <td><font color="#AFEEEE"><%= stat[i].status_name %></font></td>
 <td><%= stat[i].rtdm_decision_name %></td>
 <th><%= stat[i].u_fio +" "+ stat[i].u_login %></th>
 <td><%= stat[i].u_role %></td>
 <td><%= stat[i].und_stage +" "+ stat[i].und_status_name %></td>
 <td><%= stat[i].end_date %></td>  
 <% }); %>
</tr>
</table>

<p></p>

<!--<a class="btn btn-primary btn-lg btn-block" type="submit" id="#bhidev" onclick="hideevents()" style="display: none">&darr; Скрыть таблицу</a> -->
  <div class="table-block-div"><a id="#bshowev" onclick="hideevents()" style="display: block"><font size="6">&rarr; Журнал событий по заявке</font></a></div>
 <!-- <h2>Журнал событий по заявке <%= appnum%><font size="24">&darr;</font></h2> -->
  <table class="table table-striped table-dark" id = "#tevents" style="display: none">
  
   <tr>
    <th scope="col" class="colp"><font color="#FFDAB9">Дата, время события</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">Имя события</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">Логин сотрудника, связанного с событием</font></th>
   </tr>

   <% event.forEach(function(el, i, arr) { %>
 
 <tr>
 <td><%= event[i].event_time %></td>
 <td><font color="#AFEEEE"><%= event[i].event_description %>,</font></td>
 <td><%= event[i].value %></td>
 <% }); %>
 </tr>

</table>

<p></p>


  <a class="btn btn-outline-info" type="submit" id="#bhiderr" onclick="hide()">Текущая ошибка</a>
  <ul>
    <li id="#tohide"><font color="#E6E6FA"><%= error%></font></li>
  </ul>
   <div class="table-block-div"><a id="#bhide" onclick="hide2()" style="display: block"><font size="6">&rarr; Хронология действующего процесса по заявке</font></a></div>
  

  <table class="table table-striped table-dark" id = "#t1" style="display: none">
  
   <tr>
    <th scope="col" class="colp"><font color="#FFDAB9">Схема процесса</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">Номер версии</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">Состояние задачи</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">Имя задачи</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">Тип задачи</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">ID задачи</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">Assignee (на кого назнач.)</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">Дата создания задачи</font></th> 
    <th scope="col" class="colp"><font color="#FFDAB9">ExecutionId</font></th>
    <th scope="col" class="colp"><font color="#FFDAB9">Время перехода в состояние</font></th>
   </tr>

<div class="collapse" id = "cdiv" visible="true">
   <% obj.forEach(function(el, i, arr) { %>
 
 <tr>
 <td><%= obj[i].proc_def_key_ %></td>
 <td><%= obj[i].ver %></td>
    <% if (obj[i].act_inst_state_ == 0) { %> 
 <td><font color="yellow"><%= obj[i].act_inst_state_ %></font></td>
 <td><font color="yellow"><%= obj[i].act_name_ %></font></td>
 <% } if (obj[i].act_inst_state_ == 2) { %>
 <td><font color="red"><%= obj[i].act_inst_state_ %></font></td>
 <td><font color="red"><%= obj[i].act_name_ %></font></td>
 <% }; %>
  <%  if (obj[i].act_inst_state_ == 4) { %>
 <td><font color="#008000"><%= obj[i].act_inst_state_ %></font></td>
 <td><font color="#008000"><%= obj[i].act_name_ %></font></td>
 <% }; %>
  <%  if (obj[i].act_inst_state_ == 1) { %>
 <td><font color="#F5760E"><%= obj[i].act_inst_state_ %></font></td>
 <td><font color="#F5760E"><%= obj[i].act_name_ %></font></td>
 <% }; %>
  <%  if (obj[i].act_type_ == 'serviceTask') { %>
 <td><font color="#FFFFF0"><%= obj[i].act_type_ %></font></td>
 <% }; %>
   <%  if (obj[i].act_type_ == 'userTask') { %>
 <td><font color="#FA8072"><%= obj[i].act_type_ %></font></td>
 <% }; %>
   <%  if (obj[i].act_type_ == 'exclusiveGateway') { %>
 <td><font color="#708090"><%= obj[i].act_type_ %></font></td>
 <% }; %>
    <%  if (obj[i].act_type_ == 'messageStartEvent') { %>
 <td><font color="#66CDAA"><%= obj[i].act_type_ %></font></td>
 <% }; %>
     <%  if (obj[i].act_type_ == 'receiveTask') { %>
 <td><font color="#CD5C5C"><%= obj[i].act_type_ %></font></td>
 <% }; %>
      <%  if (obj[i].act_type_ == 'startEvent') { %>
 <td><font color="#00FF7F"><%= obj[i].act_type_ %></font></td>
 <% }; %>
       <%  if (obj[i].act_type_ == 'intermediateMessageThrowEvent') { %>
 <td><font color="#FAFAD2"><%= obj[i].act_type_ %></font></td>
 <% }; %>
       <%  if (obj[i].act_type_ == 'boundaryError') { %>
 <td><font color="#E6E6FA"><%= obj[i].act_type_ %></font></td>
 <% }; %>
        <%  if (obj[i].act_type_ == 'intermediateConditional') { %>
 <td><font color="#FAFAD2"><%= obj[i].act_type_ %></font></td>
 <% }; %>
 <%  if (obj[i].act_type_ == 'noneEndEvent') { %>
 <td><font color="#191970"><%= obj[i].act_type_ %></font></td>
 <% }; %>
 <%  if (obj[i].act_type_ == 'subProcess') { %>
 <td><font color="#FFF0F5"><%= obj[i].act_type_ %></font></td>
 <% }; %>
 <%  if (obj[i].act_type_ == 'boundaryTimer') { %>
 <td><font color="#E6E6FA"><%= obj[i].act_type_ %></font></td>
 <% }; %>
 <td><%= obj[i].act_id_ %></td>
 <td><%= obj[i].assignee_ %></td>
 <td><%= obj[i].start_time_ %></td>
 <td><%= obj[i].execution_id_ %></td>
 <td><%= obj[i].end_time_ %></td> 
 <% }); %>
</tr>
 </div>
</table>

<p></p>

   <div class="table-block-div"><a id="#bhide" onclick="hide3()" style="display: block"><font size="6">&rarr; Интеграционные логи по заявке</font></a></div>
  <!--<button class="btn btn-outline-warning" type="submit" onclick="showlongtext()">Показать/скрыть запросы/ответы</button>-->
  <!--<h2>Интеграционные логи по заявке <%= appnum%><font size="24">&#8593;</font></h2>-->
  <table class="table table-dark" id = "#t2" style="display: none">
  
 <tr>
    <th scope="col" class="colp"><font color="#FFDAB9">interaction ID</font></th>
    <th scope="col" class="colp">Целевая система (Endpoint)</th>
    <th scope="col" class="colp">Результат</th>
    <th scope="col" class="colp">Текст ошибки</th>
    <th scope="col" class="colp">Дата, время интеграции</th>
    <th scope="col" class="colp">Запрос/ответ</th>
 </tr>

   <% int.forEach(function(el, i, arr) { %>
 
 <tr>
 <td><%= int[i].interaction_id %></td>
 <td><%= int[i].System %></td>
 <td><%= int[i].result %></td>
 <td><%= int[i].error_description %></td>
 <td><%= int[i].interaction_ts %></td> 
  <td >
    <p class="longtext" style="display: none">
      int[i].body
    </p>
 </td>
</tr>
 <% }); %>

</table>
  

  <script>




       function hide() {

      var elem = document.getElementById("#tohide");
      if (elem.style.display === "none") {


        elem.style.display = "block";
      } else {

        elem.style.display = "none";
      }

    }

         function hide2() {

      var elem = document.getElementById("#t1");
      if (elem.style.display === "none") {


        elem.style.display = "block";
      } else {

        elem.style.display = "none";
      }

    }


          function hide3() {

      var elem = document.getElementById("#t2");
      if (elem.style.display === "none") {


        elem.style.display = "block";
      } else {

        elem.style.display = "none";
      }

    }


            function hidejournal() {

      var elem = document.getElementById("#tjournal");

      var btn_hide = document.getElementById("#bhidej");

      var btn_show = document.getElementById("#bshowj");
      
      if (elem.style.display === "none") {


        elem.style.display = "block";
        //btn_show.style.display = "none";
        //btn_hide.style.display = "block";


      } else {

        elem.style.display = "none";
        //btn_show.style.display = "block";
        //btn_hide.style.display = "none";


      }

    }

              function hideevents() {

      var elem = document.getElementById("#tevents");

      var btn_hide = document.getElementById("#bhidev");

      var btn_show = document.getElementById("#bshowev");
      
      if (elem.style.display === "none") {


        elem.style.display = "block";
        //btn_show.style.display = "none";
        //btn_hide.style.display = "block";


      } else {

        elem.style.display = "none";
        //btn_show.style.display = "block";
        //btn_hide.style.display = "none";


      }

    }




  </script>


 </body>
</html>


